*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

html{
    scroll-behavior: smooth;
}

header {
    height: 80px;
    width: 100%;
    background-color: #16161ade ;
    position: fixed;
    z-index: 1000000;
}

.header__icono {
    display: none;
 }
  
.menu__item--oculto {
    display: none; 
}

.navegacion {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.navegacion a {
    text-decoration: none;
    color: #fffffe;
}

.navegacion a:hover {
    color: #2cb67d;
}

.navegacion ul{
    list-style: none;
}

.nav__menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__menu li {
    margin: 8px;
}

.portada {
    background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../imagenes/portada-portfolio.jpg);
    height: 72vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

body {
    background-color: #16161a;
}

.portada__titulo {
    backdrop-filter: blur(8px);
    background-color: #242629(150, 149, 149, 0.156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 5px;
    height: 150px;
    width: 15%;
}

.portada__titulo h1 {
    color:#2cb67d;
    font-size: 3rem;
    font-weight:600;
}

.portada p {
    color:#fffffe;
    font-size: 1.7rem;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.titulo h2{
    text-align: left;
    color: #2cb67d;
    font-size: 2.3rem;
    padding: 50px;
}

.sobre-mi__container {
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items:inherit;
    justify-content: space-evenly;
    padding-bottom: 45px;
}

.sobre-mi__texto {
    width: 30%;
}

.sobre-mi__conocimientos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.conocimientos__titulo {
    text-align: left;
    color: #2cb67d;
    font-size: 1.7rem;
    padding-bottom: 30px;
}

.conocimientos__imagenes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sobre-mi__texto h2 {
    text-align: left;
    color: #2cb67d;
    font-size: 2.3rem;
    padding-bottom: 30px;
}

.sobre-mi__texto span {
    color: #fffffe;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 30px;
}

.sobre-mi__texto p {
    color: #fffffe;
    font-size: 1.2rem;
    line-height: 30px;
    padding-top: 30px;
}

.sobre-mi {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sobre-mi__imagen {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sobre-mi__imagen span {
    color: #fffffe;
    padding-top: 10px;
    font-weight: 600;
}

.html-logo {
    width: 80px;
    height: 70px;
}

.css-logo{
    width: 60px;
    height: 70px;
}

.bootstrap-logo {
    width: 80px;
    height: 70px;
}

.servicios__contenedor {
    background-color:#fffffe;
}

.tarjetas__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.servicios__tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    padding: 50px;
}

.tarjeta__imagen {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta__imagen img {
    width: 50%;
    height: 50%;
}

.tarjeta__titulo {
    color: #242629;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}

.tarjeta__descripcion {
    height: 75px;
    font-size: 1.1rem;
    text-align: center;
    font-weight: 500;
}

.proyectos__contenedor {
    height: 100%;
    background-color: #16161a;
    margin-bottom: 80px;
}

.proyectos__contenedor-tarjetas {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.proyectos__tarjeta {
    width: 20%;
    height: 60%;
    border-radius: 8px;
    margin: 20px 60px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.proyectos__tarjeta h3 {
    color: #2cb67d;
    padding-top: 15px;
}

.proyectos__tarjeta span {
    color: #fffffe;
    padding-top: 15px;
}

.proyectos__tarjeta:hover {
    transform: scale(1.03);
    transition: .3s ease-in-out;
    cursor: pointer;
}

.proyectos__tarjeta img {
    width: 100%;
    height: 320px;
    overflow: hidden;
    border-radius: 8px;
}

.formulario__container {
    height: 100%;
    background-color: #16161a;
    margin-bottom: 60px;
    margin-top: 60px;
}

form {
    /* Centrar el formulario en la página */
    margin: 0 auto;
    width: 50%;
    height: 50%;
    /* Esquema del formulario */
    padding: 1em;
    background-color: #242629;
    border-radius: 3px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }

  .formulario__inputs {
    width: 100%;
  }

  label {
    color: #2cb67d;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 1.2em;
  }

  input, textarea {
    font: 1em sans-serif;
    box-sizing: border-box;
    border-style: none;
    border-bottom: 2px solid #999;
    width: 100%;
    height: 30px;
    background-color: #242629;
    color: #848a90;
  }

  input:focus, textarea:focus {
    border-bottom: 2px solid #2cb67d;
    outline: none;
  }

  textarea {
    vertical-align: top;
    height: 5em;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #242629 inset;
}

  input:-webkit-autofill {
    -webkit-text-fill-color: #848a90;
}

button {
    width: 100%;
    height: 40px;
    background-color: #2cb67d;
    border: none;
    border-radius: 2px;
    color: #fffffe;
    font-size: 1.2em;
    font-family:'Bai Jamjuree', sans-serif;
    font-weight: bold;
}

button:hover {
    background-color: #239666;
    cursor: pointer;
}

footer{
    height: 100px;
    background-color: #242629;
    text-align: center;
    padding-top: 30px;
    color: #fffffe;
}

@media screen and (max-width: 576px) {

    header {
        width: 100%;
    }

    .nav {
        display: block;
        background-color: white;
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 1000000;
        width: 70%;
        height: 100vh;
        transition: left 1s; }

    .nav:target {
        display: block;
        left: 0; 
    }
    .nav__menu {
        flex-direction: column;
        justify-content: center;
        text-align: left;
        height: 100vh;
        gap: 2rem;
        width: 100%;
        padding: 0;
        background-color:#16161a;
    }
    .menu__item--oculto {
        display: block;
    }

    .header__icono {
        display: block; 
    }
      
    

    .menu__item--oculto a:hover {
        border: none;
        color: crimson;
    }

    .portada {
        width: 100%;
        height: 92vh;
    }

    .sobre-mi__container {
        height: auto;
    }

    .sobre-mi {
        flex-direction: column;
        width: 100%;
    }

    .sobre-mi__texto {
        width: 90%;
        margin: 30px;
    }

    .sobre-mi__conocimientos {
        width: 90%;
    }

    .proyectos__contenedor-tarjetas{
        flex-direction: column;
        align-items: center;
    }

    .proyectos__tarjeta {
        width: 90%;
        margin: 60px 20px;
    }

    .proyectos__tarjeta img {
        height: auto;
    }

    .tarjetas__container {
        flex-direction: column;
    }

    .servicios__tarjeta {
        width: 100%;
    }

    .tarjeta__titulo {
        text-align: center;
    }

    .formulario__container form {
        width: 90%;
    }
}